/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5D300;
    color: #333;
}

.jaun {
    color: #FFF;
}

/* En-tête */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bl {
    color: #FFF;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
section {
    padding: 40px;
    margin: 20px;
}

#accueil {
    background-color: #fff;
    text-align: center;
}

#menu {
    background-color: #F1C200;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item {
    width: calc(33.33% - 20px);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.menu-item h3 {
    color: #F1C200;
}

/* Sous-menus */
.sub-menu {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
}

.sub-menu li {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
}
#contct{
        background-color: #F1C200;
        text-align: center;
    }
/* Sur mobile : tous les éléments sont affichés verticalement
